/* Css to make the logo a hero image */
.site-branding {
  position: relative;
}
.site-branding .site-logo img {
  max-height: initial;
}
.site-branding .site-name-slogan {
  position: absolute;
  width: 100%;
  height: 100%;
}
.site-branding .site-name,
.site-branding .site-slogan {
  margin-bottom: 0;
  padding-left: 0;
  position: relative;
  z-index: 1;
}
.site-branding .site-name {
  font-size: 1rem;
  padding-top: 0;
}
.site-branding .site-name a:hover {
  text-decoration: initial;
}
.site-branding .site-name a {
  color: white;
  font-family: serif;
  text-decoration: none;
  text-shadow: 1px 1px black;
}
.site-branding .site-slogan {
  bottom: 0.25rem;
  color: white;
  position: absolute;
  text-shadow: 1px 1px black;
}

@media screen and (min-width: 500px){
  .site-branding .site-name,
  .site-branding .site-slogan {
    padding-left: 1rem;
  }
  .site-branding .site-name {
    font-size: 1.8rem;
    padding-top: 1rem;
  }
  .site-branding .site-slogan {
    bottom: 1rem;
    font-size: 1rem;
  }
}
