/**
 * @file
 * Dark mode styles.
 *
 * Uses body.light-mode and body.dark-mode classes to toggle dark mode.
 * Falls back to system dark mode preferences when no class is set.
 * Moves a few styles from tara to here to make it easier to override.
 * Adds an additional variable for ckeditor text color and 
 * display-light|dark-mode-only classes to toggle visibility of 
 * dark mode toggle buttons.
 */

/* Replace tara hardcoded colors with variables for mode toggle */
.sidebar .block {
  background-color: var(--bg-body);
}
.header {
  background-color: var(--bg-body);
}
.page-tabs li,
.vertical-tabs__menu-item {
  background-color: var(--bg-body);
}
.region-primary-menu .menu a {
  color: var(--text-color);
  background-color: var(--bg-body);
}
.region-primary-menu .menu a:hover {
  color: var(--bg-body);
  background-color: var(--text-color);
}

/* Add additional css root variables */
:root {
  --display-light-mode-only: inline;
  --display-dark-mode-only: none;
  --ckeditor-text-color: var(--text-color);
}
/* Auto dark mode via media query for first-paint if no class is set */
@media (prefers-color-scheme: dark) {
  body:not(.light-mode) {
    --bg-body: #121212;
    --light: var(--bg-body);
    --color-primary-light: var(--bg-body);
    --text-color: #e0e0e0;
    --bold-color: var(--text-color);
    --border: #dbdbd3;
    --display-light-mode-only: none;
    --display-dark-mode-only: inline;    
    --ckeditor-text-color: black;
  }
}

/* Explicit dark mode if .dark-mode class is set */
body.dark-mode {
  --bg-body: #121212;
  --light: var(--bg-body);
  --color-primary-light: var(--bg-body);
  --text-color: #e0e0e0;
  --bold-color: #e0e0e0;
  --border: #dbdbd3;
  --display-light-mode-only: none;
  --display-dark-mode-only: inline;
  --ckeditor-text-color: black;
}

/* Add additional css classes using variables */
.light-mode-only {
  display: var(--display-light-mode-only);
}
.dark-mode-only {
  display: var(--display-dark-mode-only);
}
.ck-editor__editable_inline {
  color: var(--ckeditor-text-color);
}
