/* Provides better contrast than default */
:root {
  --color-primary: #884e11;
}

/* Headings use the primary color by default */
h1, h2 {
  color: var(--color-primary);
}

/* Centering the page title just looks better */
.page-title {
  text-align: center;
}

/* Give the title a top and bottom margin */
.page-title-wrap {
  margin: 1rem 0;
}

/* Get rid of graph paper svg overlay */
#footer {
  background: var(--color-primary-light);
}
