# Ignore anything not specified.
/*

# Things we specifically want.
!.gitignore
!.htaccess
!composer.*
!README.txt

# Include web/modules/custom and web/themes/custom.
!web/
web/*
!web/.htaccess

!web/themes
web/themes/*
!web/themes/custom
