# Ignore anything not specified.
/*

# Things we specifically want.
!.gitignore
!composer.*
!README.txt

# Include web/modules/custom and web/themes/custom.
!web/
web/*

!web/themes
web/themes/*
!web/themes/custom
