/* Block uses the image as a background with white text for the title and slogan */
.heroblock {
  position: relative;
}
.heroblock img {
  position: absolute;
  width: 100%;
  z-index: -1;
}
.heroblock .site-title,
.heroblock .site-slogan {
  padding-left: 1rem;
  margin-bottom: 0;
}
.heroblock .site-title a:hover {
  text-decoration: initial;
}
.heroblock .site-title a {
  color: white;
  font-family: serif;
  text-decoration: none;
  text-shadow: 1px 1px black;
}
.heroblock .site-slogan {
  color: white;
  text-shadow: 1px 1px black;
}

@media screen and (min-width: 500px){
  .heroblock .site-title {
    font-size: 1.4rem;
  }
  .heroblock .site-slogan {
    font-size: 1rem;
    padding-left: 1rem;
    padding-top: 3rem;
  }
}

@media screen and (min-width: 768px) {
  .heroblock {
    padding-bottom: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .heroblock {
    padding-bottom: 4rem;
  }
}
