/**
 * @file
 * Olivero specific CSS overrides.
 */

.site-header {
  min-height: 0;
}

.primary-nav__menu-item {
  /* border: 1px solid blue; */
  margin-block-end: var(--sp0-2);
  margin-block-start: var(--sp0-2);
  white-space: nowrap;
}


.node--view-mode-teaser .primary-image {
  float: right;
  inset-inline-start: auto;
  margin-left: 0.5rem;
  position: relative;
}

.node--view-mode-teaser .primary-image img {
  width: auto;
  height: auto;
  border-radius: unset;
}

.region--sidebar .block {
  border: 1px solid blue;
  border-radius: 1rem;
  background-color: bisque;
  padding: 0.5rem;
  border-radius: 1rem;
  border-color: white;
}

.main-content__container {
  padding-block-start: 0;
}

.sidebar-grid {
  padding-top: 3rem;
}

h1 {
  font-size: 3rem;
}